@model List<JobPosting>
<h4>Manage Job Postings</h4>
<table class="table" id="jobsTable">
    <th>ID</th>
   <th>Created Date</th>
    <th>Actions</th>
  
   
    <tbody>
@foreach (var item in Model){
<tr>

    <td>@item.Id </td>
    <td>@item.CreatedDate</td>
    <td><a href="#" onclick="confirmDelete('@item.Id')">Delete</a></td>
   
</tr>
}
</tbody>
</table>

<script>
    

</script>
