@using Microsoft.AspNetCore.Identity
@using LinkedInClone.Models;
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
    
@model dynamic

        @foreach (var item in Model)
        {
            <form id="comment" method="post">

                <label class="font-extrathin comment-label tracking-tighter">Write your comment:</label>
                <input asp-controller="Home" asp-action="Comment" asp-route-id="@item.Id" id="comment-input-@item.Id" type="text" />
                <input type="submit" value="Publish" class="outline btn-transparent text-black-700 mt-1" />
                 
               
            </form>
            <div class="all-comments">
@* 
                <p>@item.Comment.Author.UserName said, [on date]</p>
                <p>@item.Comment.Content</p> *@
            </div>
            return;
        }
