<div class="main-left">
    <div class="card p-4">
        <div class="card__container">
            <h6>Explore</h6>
            <div class="tree">
                <div class="tree-item">
                    <input type="checkbox" id="tree3" class="u-none">
                    <label class="tree-item-header" for="tree3">
                        <span class="icon">
                            <i class="fa fa-wrapper fa-chevron-right small" aria-hidden="true"></i>
                        </span> Job Postings
                    </label>
                    <div class="tree-item-body">
                        <ul class="menu">
                            <li class="menu-item"><a asp-controller="JobPostings" asp-action="RecruiterJobPostings">My
                                    Posting</a></li>
                            <li class="menu-item"><a asp-controller="JobPostings"
                                    asp-action="RecruiterJobPostings">Something Else?</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>