@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
    @inject UserManager<IdentityUser> UserManager


        <header>
            <div class="header-container">
                <nav class="no-hover">
                    <div class="header header-fixed custom-header">

                        <div class="nav-item nav-left no-hover">
                            <a asp-controller="Home" asp-action="Index"><img class="img-nav-logo"
                                    srcset="/Images/logo.png" />
                            </a>
                        </div>



                        @if (SignInManager.IsSignedIn(User))
                        {
                        <div class="nav-right">
                            <div class="nav-item active">

                                <div class="nav-item">
                                    <a class="nav-link text-dark utb utb-C" asp-area="" asp-controller="Home"
                                        asp-action="Index">Home</a>
                                </div>

                                <div class="nav-item">
                                    <a class="nav-link text-dark utb utb-C" asp-area="" asp-controller="Home"
                                        asp-action="Privacy">My
                                        Network</a>
                                </div>

                                <div class="nav-item">
                                    <a class="nav-link text-dark utb utb-C" asp-area="" asp-controller="JobPostings"
                                        asp-action="Index">Jobs</a>
                                </div>

                                <div class="nav-item">
                                    <a class="nav-link text-dark utb utb-C" asp-area="" asp-controller="Home"
                                        asp-action="Privacy">Notifications</a>
                                </div>

                                <div class="nav-item">
                                    <a class="nav-link text-dark utb utb-C" asp-area="" asp-controller="Home"
                                        asp-action="Privacy">My Profile</a>
                                </div>

                                <div class="nav-item">
                                    <a id="manage" class="nav-link text-dark utb utb-C" asp-area="Identity"
                                        asp-page="/Account/Manage/Index" title="Manage">Hello
                                        @UserManager.GetUserName(User)!</a>
                                </div>

@*  uncomment this block to enable older, working version. Then comment out the block under it *@
                                @* <div class="nav-item">
                                    <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Logout"
                                        asp-route-returnUrl="@Url.Action(" Index", "Home" , new { area="" })">Log Out
                                    </a>
                                </div> *@

                                <div>
                                    <a href="#logoutModalDialog" class="utb utb-C" data-toggle="modal" data-target="#logoutModalDialog">Log Out</a>
                                </div>
                                
                            </div>
                        </div>

                        }
                        else
                        {

                        <div class="nav-right">
                            <div class="nav-item active">

                                <div class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Home"
                                        asp-action="Index">Home</a>
                                </div>

                                <div class="nav-item">
                                    <a class="nav-link text-dark" id="register" asp-area="Identity"
                                        asp-page="/Account/Register">Register</a>
                                </div>

                                <div class="nav-item">
                                    <a class="nav-link text-dark" id="login" asp-area="Identity"
                                        asp-page="/Account/Login">Log
                                        In</a>
                                </div>

                            </div>
                        </div>
                        }
                    </div>
                </nav>
            </div>
        </header>