@{
    var articles = ViewBag.Articles as List<NewsModel>;
}
<div class="main-right">
        <h6>JobLink News</h6>



        <div class="card">
            <div class="card__container">
                @{
                    int count = 0;
                   foreach (var article in articles){
                        <p><a href="@article.url" target="_blank">@article.title</a></p>
                        count++;
                        if (count >= 5) break;
                   }
                }
             
            </div>
            <div class="divider"></div>
            <h6>JobLink Market Trends</h6>
            <p>stock ticker</p>
            <p>stock ticker</p>
            <p>stock ticker</p>
            <p>stock ticker</p>
            <p>stock ticker</p>
            <p>stock ticker</p>

        </div>
</div>