<div class="main-right">
        <h6>JobLink News</h6>



        <div class="card">
            <div class="card__container">
                <p>link</p>
                <p>link</p>
                <p>link</p>
                <p>link</p>
                <p>link</p>
            </div>
            <div class="divider"></div>
            <h6>JobLink Market Trends</h6>
            <p>stock ticker</p>
            <p>stock ticker</p>
            <p>stock ticker</p>
            <p>stock ticker</p>
            <p>stock ticker</p>
            <p>stock ticker</p>

        </div>
</div>