@{
var articles = ViewBag.Articles as List<NewsModel>;
    }

    <div class="main-right">
        <div class="card p-4">
            <div class="card__container">
                <h6 class=" tooltip tooltip--bottom" data-tooltip="Access external news source">JobLink News</h6>
                @{
                if (articles == null) {

                }
                int count = 0;
                foreach (var article in articles){
                <p class="u-text-justify"><a href="@article.url" target="_blank">@article.title</a></p>
                count++;
                if (count >= 4) break;
                }

                }

            </div>
            <div class="divider"></div>
            <h6>JobLink Market Trends</h6>
            <p>stock ticker</p>
            <p>stock ticker</p>
            <p>stock ticker</p>
            <p>stock ticker</p>
            <p>stock ticker</p>
            <p>stock ticker</p>

        </div>
    </div>