<form asp-controller="Connections" asp-action="SearchResults" method="post" class="u-flex u-flex-row my-2 ml-6 mr-6">
    <input class="mr-6" name="searchKeyword" placeholder="Search for other users..." />
    <button class="w-20" type="submit">Search</button>
</form>