@model dynamic
@{
    ViewData["Title"] = "My Account";
}
@{
    var data = ViewBag.Message;
}
<style>
    .myAccount{
        text-align:center;
    }
    </style>
<div class="myAccount">
<h2>User Details</h2>
<p>
    <div>Id: @data.Id --- will delete later just for visualizing</div>
    <div>Email: @data.Email</div>
    <div>Role: @data.RoleId</div>
    <div>Name: @data.FullName</div> 
</p>
    @if (data.RoleId == "Admin")
    {
        <p><a asp-action="AdminPanel" asp-controller="Home">Access Admin Panel</a></p>
    }
    @* Makes current user admin
     <form method="post" asp-controller="Home" asp-action="AdminX">
    <input type="submit" value="Make user admin" />
</form> *@
</div>