@model LinkedInClone.Models.Connection

@{
    ViewData["Title"] = "Friend Details";
}

<h1>Friend Details</h1>

<div>
    <h4>Connection</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Username:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Friend.UserName)
        </dd>
        <dt class="col-sm-2">
            Full Name:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Friend.FullName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
