@model LinkedInClone.Models.Connection

@{
ViewData["Title"] = "Friend Details";
}
<div class="card p-4 w-50p u-center u-flex u-flex-column">
    <h3 class="mb-3">Friend Details</h3>
    <hr />
    @if (Model.AccountOwner.UserName == User.Identity.Name)
    {
    <p class="mt-0 mb-3"><b>Username:</b> &nbsp; @Html.DisplayFor(model => model.Friend.UserName)</p>
    <p class="mt-0 mb-3"><b>Full Name:</b> &nbsp; @Html.DisplayFor(model => model.Friend.FullName)</p>
    }
    else if (Model.Friend.UserName == User.Identity.Name)
    {
    <p class="mt-0 mb-3"><b>Username:</b> &nbsp; @Html.DisplayFor(model => model.AccountOwner.UserName)</p>
    <p class="mt-0 mb-3"><b>Full Name:</b> &nbsp; @Html.DisplayFor(model => model.AccountOwner.FullName)</p>
    }
    <div>
        <a asp-action="Index">Back to List</a>
    </div>
</div>