@model LinkedInClone.Models.JobApplication

@{
ViewData["Title"] = "Delete";
}
<div class="card p-4 w-50p u-center u-flex u-flex-column">
    <h3>Are you sure you want to delete this?</h3>
    <p><b>Job Title:</b> &nbsp; @Model.Job.JobTitle</p>
    <p class="mt-0 mb-6"><b>Applied On:</b> &nbsp; @Html.DisplayFor(model => model.CreatedDate)</p>
    <form asp-action="Delete">
        <input type="hidden" asp-for="JobApplicationId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="UserApplications">Back to List</a>
    </form>
</div>