@model dynamic
@{
    ViewData["Title"] = "Conversations";
}

<div class="main-container">

    <partial name="_LeftSideBarForUser" />

    <div class="main-center">
        <h4>Recent Messages</h4>

    </div>
</div>