@{
    ViewData["Title"] = "Access Denied";
}

<div class="text-center">
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <h6 class="text-danger">You do not have permission to view this resource</h6>
</div>