@{
    ViewData["Title"] = "Access Denied";
}

<div class="text-center universal-container">
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <h5 class="text-danger">You do not have permission to view this resource.</h5>
    <a class="utb utb-C" href="javascript: history.go(-1)">Back to previous page</a>
</div>