@model AdminPanelViewModel
@{
ViewData["Title"] = "Admin Interface";
}

<style>
    h2, h4{
        text-align: center;
    }
    .tableMenu{
        text-align: center;
        font-size: 22px;
        font-weight: bold;
    }

  
</style>
@{
    if (TempData["Dlt"] != null){
         <div class="alert alert-success">@TempData["Dlt"]</div>
    }
}
<h2>Admin Interface</h2>
<div id="usersTable" style="display: none;">
    @Html.Partial("_AdminUsersTable", Model.Users)
</div>
<div id="jobsTable" style="display: none;">
    @Html.Partial("_AdminJobPostingsTable", Model.JobPostings)
</div>
<div id="postsTable" style="display: none;">
    @Html.Partial("_AdminPostsTable", Model.Posts)
</div>
<p class="tableMenu"><a href="#" onclick="showTable('jobsTable')">View Job Postings </a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#" onclick="showTable('postsTable')"> View User Posts</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#" onclick="showTable('usersTable')"> View Users</a></p>

<script>
   
    function confirmDelete(id) {
    if (confirm("Are you sure you want to delete this user?")) {
        $.ajax({
            type: "DELETE",
            url: "/Account/DeleteUser/" + id,
            success: function(data) {                
                alert("User deleted successfully");
                location.reload();
            }
        });
    }
}

    function showTable(tableId) {
    document.getElementById("usersTable").style.display = "none";
    document.getElementById("jobsTable").style.display = "none";
    document.getElementById("postsTable").style.display = "none";
    document.getElementById(tableId).style.display = "block";
}
</script>

