@{
ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

@* if the modal doesn't work out this entire div block can be removed without harming the app, just re-enable the older version in LoginPartial.cshtml *@
    <div class="modal modal-animated--zoom-in" id="logoutModalDialog">
        <a href="#logoutModalDialog" class="modal-overlay close-btn" aria-label="Close"></a>
        <div class="modal-content" role="document">
            <div class="modal-header"><a href="#" class="u-pull-right" aria-label="Close"><span
                        class="icon"><svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="times"
                            class="svg-inline--fa fa-times fa-w-11 fa-wrapper" role="img"
                            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 352 512">
                            <path fill="currentColor"
                                d="M242.72 256l100.07-100.07c12.28-12.28 12.28-32.19 0-44.48l-22.24-22.24c-12.28-12.28-32.19-12.28-44.48 0L176 189.28 75.93 89.21c-12.28-12.28-32.19-12.28-44.48 0L9.21 111.45c-12.28 12.28-12.28 32.19 0 44.48L109.28 256 9.21 356.07c-12.28 12.28-12.28 32.19 0 44.48l22.24 22.24c12.28 12.28 32.2 12.28 44.48 0L176 322.72l100.07 100.07c12.28 12.28 32.2 12.28 44.48 0l22.24-22.24c12.28-12.28 12.28-32.19 0-44.48L242.72 256z">
                            </path>
                        </svg></span></a>

            </div>
            <div class="modal-body">
                <div class="r">
                    <h3 class="font-alt font-light u-text-center">Are you sure you want to log out?</h3>
                </div>
                <div class="space"></div>

                <a href="#">
                    <button class="btn btn-primary u-inline-block">Cancel</button>
                </a>
                <a class="nav-link text-dark utb utb-C" asp-area="Identity" asp-page="/Account/Logout"
                    asp-route-returnUrl="@Url.Action(" Index", "Home" , new { area="" })">Log Me Out
                </a>

            </div>
        </div>





    </div>
</div>