@model dynamic
@{
ViewData["Title"] = "My Account";
}
@{
    var data = ViewBag.Message;
}
<h2>User Details</h2>
<p>
    <div>Id: @data.Id --- will delete later just for visualizing</div>
    <div>Email: @data.Email</div>
    <div>Role: @data.FullName</div>
</p>
@* <form method="post" asp-controller="Home" asp-action="Admin">
    <input type="submit" value="Make user admin" />
</form> *@