@{
    ViewData["Title"] = "Page Not Found";
}


<div class="text-center universal-container u-center u-flex u-flex-column">
    <h1 class="text-indigo-500 mb-5">@ViewData["Title"]</h1>
    <img src="/Images/lost.jpg" alt="Access Denied" width="25%">
    <h5 class="text-indigo-500 mt-5">This resource was not found</h5>
    <a class="utb utb-C" href="javascript: history.go(-1)">Back to previous page</a>
</div>