@model dynamic
@{
    ViewData["Title"] = "Home";
}

<div class="main-container">
    <div class="main-left">

        <h6>Explore</h6>

        <div class="tree">
            <div class="tree-item">
                <input type="checkbox" id="tree1" class="u-none">
                <label class="tree-item-header" for="tree1">
                    <span class="icon">
                        <i class="fa fa-wrapper fa-chevron-right small" aria-hidden="true"></i>
                    </span> Job Postings
                </label>
                <div class="tree-item-body">
                    <ul class="menu">
                        <li class="menu-item"><a asp-controller="JobPostings" asp-action="RecruiterJobPostings">My
                                Postings</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    @if (Model.Count == 0)
    {
        <div class="main-center">
            <div class="card">
                <div class="card__container m-2">
                    <div class="content">
                        <h4>Overview</h4>
                    </div>

                    <div class="">
                        <p>Current active job listings: 0</p>
                    </div>

                    <div class="post-card-content">
                        <p>Total number of applicants: 0</p>
                    </div>

                </div>
            </div>
        </div>
    }
    else
    {
        var count = 0;
        @foreach (var item in Model)
        {
            count = count + @item.JobApplications.Count;
            if (Model.IndexOf(item) == Model.Count - 1)
            {
                <div class="homepage-center">
                    <div class="card">
                        <div class="card__container m-2">
                            <div class="content">
                             <h4>Overview</h4>
                            </div>

                            <div class="">
                                <p>Current active job listings: @Model.Count</p>
                            </div>

                            <div class="post-card-content">
                                <p>Total number of applicants: @count</p>
                            </div>

                        </div>
                    </div>
                </div>
            }
        }
    }
</div>