@model dynamic
@{
ViewData["Title"] = "Home";
}

<div class="homepage-container">
    <div class="homepage-left">

        <h6>Explore</h6>

        <div class="tree">
            <div class="tree-item">
                <input type="checkbox" id="tree1" class="u-none">
                <label class="tree-item-header" for="tree1">
                    <span class="icon">
                        <i class="fa fa-wrapper fa-chevron-right small" aria-hidden="true"></i>
                    </span> Job Postings
                </label>
                <div class="tree-item-body">
                    <ul class="menu">
                        <li class="menu-item"><a asp-controller="JobPostings" asp-action="RecruiterJobPostings">My Postings</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="homepage-center">
            <div class="card">
                <div class="card__container m-2">
                    <div class="content">
                        <h6>Notifications</h6>
                    </div>

                    <div class="">
                       <p>Current active job listings: </p>
                    </div>

                    <div class="post-card-content">
                        <p>Total number of applicants: </p>
                    </div>
                 
                </div>
            </div>
    </div>
    <div class="homepage-right">
        <h6>Live News Feed</h6>
        <p>maybe links like</p>
        <a href="https://youtu.be/dQw4w9WgXcQ">Our Partners</a>


        <div class="card">
            <div class="card__container">
                <div class="card__image"></div>
                <div class="card__title-container">
                    <p class="title">Featured Post</p><span class="subtitle">X Amount of Likes Today!</span>
                </div>
            </div>
            <div class="content">
                <p>the post content</p>
            </div>
            <div class="card__action-bar u-center">
                <button class="btn-link outline">View full post</button>
                <button class="btn-link outline">Share</button>
            </div>
            <div class="card__footer">
                <div class="u-text-center"><span>This was posted <code>Yesterday</code></span></div>
            </div>
        </div>

    </div>
</div>