@model dynamic
@{
ViewData["Title"] = "Home";
}

<div class="main-container">

    <partial name="_LeftSideBarForRecruiter" />

    <div class="main-center">
        @if (Model.Count == 0)
        {
        <div class="main-center">
            <div class="card">
                <div class="card__container m-2">
                    <div class="content">
                        <h4>Overview</h4>
                    </div>

                    <div class="">
                        <p>Current active job listings: 0</p>
                    </div>

                    <div class="post-card-content">
                        <p>Total number of applicants: 0</p>
                    </div>

                </div>
            </div>
        </div>
        }
        else
        {
        var count = 0;
        @foreach (var item in Model)
        {
        count = count + @item.JobApplications.Count;
        if (Model.IndexOf(item) == Model.Count - 1)
        {
        <div class="homepage-center">
            <div class="card">
                <div class="card__container m-2">
                    <div class="content">
                        <h4>Overview</h4>
                    </div>

                    <div class="">
                        <p>Current active job listings: @Model.Count</p>
                    </div>

                    <div class="post-card-content">
                        <p>Total number of applicants: @count</p>
                    </div>

                </div>
            </div>
        </div>
        }
        }
        }
    </div>
    <partial name="_RightSideBarForUser" />
</div>