@page
@model LogoutModel
@{
ViewData["Title"] = "Log out";
}

<header>
    @* <h1>@ViewData["Title"]</h1> *@
    @{
    if (User.Identity.IsAuthenticated)
    {
    <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page(" /", new {
        area="" })" method="post">
        <h1>You've been logged out</h1>
        <button type="submit" class="nav-link btn btn-link text-dark">Continue to Home Page</button>
    </form>
    }
    else
    {
    <p>You have successfully logged out of the application.</p>
    }
    }

</header>