html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color: rgb(252, 252, 243);
}

.nav-items {
  background-color: rgb(67, 87, 124);
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
}

.img-nav-logo {
  width: 60px;
  height: 60px;
}

.header-container {
  margin-bottom: 85px;
  width: 100%;
}

.universal-container {
  margin-left: 25px;
  margin-right: 25px;
}

.btn-custom {
  margin-right: 20px;
  margin-top: 20px;
}

input[type="file"] {
  cursor: pointer;
}

textarea {
  max-height: 350px;
}

/* HOMEPAGE */
.main-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  max-width: 100%;
  min-width: 70%;
  margin: 15px;
}

.main-left {
  width: 17%;
  padding: 2px 12px 2px 12px;
  margin-right: 2rem;
}

.main-center {
  width: 60%;
}

.main-right {
  width: 19%;
  padding: 2px 12px 2px 12px;
  margin-left: 2rem;
}

.post-card-date {
  margin-top: -28px;
  margin-bottom: -15px;
  color: #258cfb;
}

.comment-card-date {
  color: #258cfb;
  padding-top: -22px;
}

.post-card-content {
  margin-bottom: -4px;
}

.post-card-interaction-counter {
  font-size: small;
  margin: -17px auto;
}
