@model LinkedInClone.Models.Post

@{
ViewData["Title"] = "Create";
}


<div class="universal-container">
    <div class="row level">
        <form asp-action="Create">

            <h1 class="header-brand">
                Create New Post
            </h1>

            <div class="divider"></div>
            <div class="divider"></div>

            <div class="row level">

                <div class="col-xs-3 level-item">
                    <label asp-for="Content" class="m-0"></label>
                </div>

                <div class="col-xs-9 level-item">
                    <textarea type="text" asp-for="Content" class="hover-grow" maxlength="1000"></textarea>
                </div>

                <div class="mt-20"></div>

                <div class="col-xs-3 level-item mt-25">
                    <label asp-for="FileName" class="m-0">Image/Video</label>
                </div>

                <div class="col-xs-9 level-item input-control">
                    <input asp-for="FileName" type="file" class="input-contains-icon" />
                    <span class="icon">
                        <i style="padding-left:9px;font-size:30px;color:rgb(250, 158, 158);"
                            class="fa-solid fa-file-import"></i></span>
                </div>
            </div>

            <div class="row level">
                <input type="submit" value="Publish"
                    class="ml-auto btn-animated outline animated bounceIn btn-dark btn--lg mr-1" />
            </div>

            <div class="divider"></div>
            <div asp-validation-summary="All" class="text-danger font-semibold"></div>
            <div class="divider"></div>

        </form>
    </div>
    <div>
        <a asp-action="Index" class="ml-1 u u-RL">Back to List</a>
    </div>
</div>


@section Scripts {
@{
await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}