@using LinkedInClone.Controllers;

@model IEnumerable<LinkedInClone.Models.Post>
@{
    ViewData["Title"] = "Index";
}

<div>
    <h1>Index</h1>

    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <div class="divider">
        @foreach (var item in Model)
        {

            <div>
                <div>
                    <h4>@item.Author.UserName</h4>
                </div>
                <div>
                    <p>Posted on @item.PostedDate.Month/@item.PostedDate.Day/@item.PostedDate.Year at
                        @item.PostedDate.Hour:@item.PostedDate.Minute </p>
                </div>
                <div>
                    <p>@item.Content</p>
                </div>
                <div>
                    @if (item.FileName != null)
                    {
                        @* Downloading the image from Blob Storage *@
                        var downloadedImage = await
                        PostsController._blobService.GetBlobAsync($"https://fsd05regex.blob.core.windows.net/blob-storage/{item.FileName}");

                    }
                    else
                    {
                        <div></div>
                    }
                </div>
            </div>

        }
    </div>
</div>